<div class="menu" [ngClass]="{'opened': isMenuOpened}">
    <nav>
        <div class="menu__header">
            <button type="button" class="menu__button" (click)="changeMenuVisible()"></button>
            <span *ngIf="currentItem" class="menu__current-item-name">{{currentItem.name}}</span>
        </div>
        <ul *ngIf="menuItems" class="menu__item-list">
            <ng-container *ngFor="let item of menuItems">
                <li class="menu__item item">
                    <a *ngIf="item"
                       (click)="changeCurrentSection(item)"
                       [routerLink]="item.link"
                    >
                        <span class="item__icon icon--{{item.icon}}"></span>
                        <span>{{item.name}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
        <ul *ngIf="primaryMenuItems" class="menu__item-list primary-menu-items">
            <ng-container *ngFor="let item of primaryMenuItems">
                <li class="menu__item item">
                    <a *ngIf="item"
                       (click)="changeCurrentSection(item)"
                       [routerLink]="item.link"
                    >
                        <span class="item__icon icon--{{item.icon}}"></span>
                        <span>{{item.name}}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </nav>
</div>