@import '../../../styles/variables.less';
@import '../../../styles/base-elements.less';

.icon--plus {
  background-image: @icon-plus;
}

.icon--truck {
  background-image: @icon-truck;
}

.icon--note {
  background-image: @icon-note;
}

.icon--people {
  background-image: @icon-people;
}

.icon--account {
  background-image: @icon-settings;
}

.icon--exit {
  background-image: @icon-exit;
}

.icon--back {
  background-image: @icon-back;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 100;

  .menu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: @primary-color;
    color: white;
    font-size: 15px;
    line-height: 28px;
    transition: height 50ms;
    z-index: 100;

    &__header {
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &__button {
      position: relative;
      display: inline-block;
      margin: 0 15px 0 4px;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      background-image: @menu-icon;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &__current-item-name {
      margin: 0 auto;
    }

    &__item-list {
      display: none;
      margin: 0;
      list-style-type: none;
      padding-left: 25px;

      &.primary-menu-items {
        border-top: rgba(255, 255, 255, 0.3) 1px solid;
      }
    }

    &__item {
      margin: 3px 0;
      height: 35px;
    }

    .item {
      a {
        display: flex;
        color: inherit;
        text-decoration: none;
        align-items: center;
      }

      &__icon {
        position: relative;
        display: inline-block;
        margin: 0 15px 0 4px;
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
        }
      }

      &:hover,
      &.active {
        .item__icon {
          &:before {
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &.opened {
      height: 100vh;
      min-height: 100vh;

      .menu__item-list {
        display: block;
      }
    }
  }
}

@media (min-width: @min-width-big) {
  :host {
    width: 20%;
    height: 100%;
    min-width: 250px;
    max-width: 300px;
    position: relative;

    .menu {
      &__item-list {
        display: block;
        margin-top: 100px;

        &.primary-menu-items {
          margin-top: 20px;
        }
      }

      &__header {
        display: none;
      }

      &.opened {
        height: 100%;
        width: 100%;
      }
    }
  }
}